* {
  box-sizing: border-box;
}

body {
   padding: 0px; 
   margin: 0px;
   overflow-x: hidden;
}

header{
  width: 100%;
  height:60px;
  display: flex;
  align-items: center;
  padding: 20px;
}

.logo{
  margin-left: 80px;
  padding: 10px;
}

header ul{
  margin-left: 35%;
}

header li{
  list-style: none;
  display: inline;
  margin-right: 30px;
}

header a{
  text-decoration: none;
  color: #333;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}

.btn1{
  padding: 10px 25px ;
  background-color: #4caf4f;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 5px;
}

main{
  padding: 10px 90px;
  background-color: whitesmoke;
}

.banner{
  display: flex;
  justify-content: space-between;
  padding: 30px;
  height: 110vh;
}

.textSection{
    margin-top: 17%;
}

.textSection h1{
    font-size: 46px;
    font-family: Arial, sans-serif;
    font-weight: 700;
    line-height: 43px;
    color: #333;
    margin: 20px 0px;
}

span{
  color: #4caf4f;
}

.first_p{
  font-family: Arial, sans-serif;
  font-size: 13px;
  letter-spacing: 0.3px;
  color: #333;
  margin: 5px 0px 25px 0px;
}

.btn2{
  padding: 10px 25px ;
  background-color: #4caf4f;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  
}

section{
  margin: 50px 90px;
 text-align: center;
}

.section_2 h2{
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 30px;
  margin-bottom: 0px;
}

section p{
  font-family: Arial, sans-serif;
  font-size: 13px;
  letter-spacing: 0.3px;
  color: #333;
}

.icons{
  width: 100%;
  overflow-x: hidden;
  white-space: nowrap;
  height: 130px;
  margin-top: 30px;
  
}

.icons img{
  display: inline-block;
  width: 90px;
  margin: 10px 30px;
  /* animation: slides 10s  linear infinite ;  */
}
/* 
@keyframes slides{

  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-180vw);
  }
  
} */

.section_3 .box_container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 25px;
  
}
.box_container .boxs{
  background-color: #f3f3f38f;
  padding: 2.5rem;
    text-align: center;
}
.boxs img{
  width: 50px;
}
.boxs h2{
  padding-top: 12px;
  font-size: 1.4rem;
  color: #242424;
  font-weight: 900;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.boxs p{
  font-size: 0.9rem;
  line-height: 1.3;
}
.banner2{
  display: flex;
  justify-content: space-between;
  padding: 0px;
  height: 90vh;
}
.image2 img{
  width: 550px;
}
.textSection2{
  margin-top: 15%;
  width: 48%;
  text-align: start;
}
.textSection2 h1{
  font-size: 34px;
  font-family: Arial, sans-serif;
  font-weight: 700;
  line-height: 43px;
  color: #333;
  margin: 20px 0px;
}

.second_p{
font-family: Arial, sans-serif;
font-size: 13px;
letter-spacing: 0.3px;
color: #333;
margin: 5px 0px 25px 0px;
line-height: 1.5;
}

.btn3{
padding: 10px 25px ;
background-color: #4caf4f;
color: white;
font-size: 14px;
border: none;
border-radius: 5px;

}

.section_5{
  width: 100%;
  height: 50vh;
  background-color: #f5f7fa;
  margin: 0px;
  display: flex;
  padding: 30px 110px;
  justify-content: space-between;
  align-items: center;
}
.textContainer{
  text-align: left;
  font-family: Arial, sans-serif;
  padding-left: 20px;
}
.textContainer h3{
  font-size: 25px;
  color: #333;
  padding-bottom: 0px;
  margin: 0px;
}

.textContainer p{
  font-size: 14px;
}

.grids{
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.innerBox{
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  padding: 20px;
}
.innerBox img{
  width: 70px;
  height: 70px;
}
.smallerBox{
  margin-left: 20px;
  text-align: left;
}

.smallerBox h2{
  margin: 0px;
  color: #333;
  font-size: 25px;
}

.section_6{
  width: 100%;
  height: 60vh;
  margin: 0px;
  /* text-align: center; */
  font-family: Arial, sans-serif;
}

.section_6 h2{
  font-size: 32px;
  margin-top: 80px;
  color: #333;
  margin-bottom: 0px;
}

.section_6 p{
  margin-top: 5px;
  text-align: center;
  font-size: 13.2px;
  letter-spacing: 0.3px;
  line-height: 1.5;
  color: #333;
}

.image_container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  
  padding: 10px 100px;
}


.image_box{
  display: flex;
  position: relative;
  justify-content: center;
  gap: 30px;
}
.image_box img{
  width: 360px;
  height: 270px;
  border-radius: 10px;
}
.img_text{
  position: absolute;
  bottom: -70px;
  background-color: #f5f7fa;
  padding: 10px;
  width: 80%;
  border-radius: 10px;
}

.img_text h4{
  color: #575656;
  font-size: 17px;
  margin: 0px;
  padding: 20px 0px;
}

.img_text button{
  padding: 10px 25px ;
background-color: #4caf4f;
color: white;
font-size: 14px;
border: none;
border-radius: 5px;
}

footer{
  display: flex;
  justify-content: center;
  margin-top: 25vh;
  background-color: #9ca1a8;
  padding: 40px;
  width: 100%;
  height: 45vh;
  font-family: Arial, Helvetica, sans-serif;
}
.container1{
  margin-right: 80px;
}
.container1 p{
  color: white;
  font-size: 14px;
}
.iconz {
  width: 150px;
}
.iconz img{
  width: 24px;
  margin: 0px 10px 0px 0px;
}

.move{
  margin-right: 70px;
}
footer h2{
  color: white;
  font-size: 15px;
  margin: 0px;
}

footer ul{
  list-style: none;
  margin-top: 20px;
  padding: 0px;
}

footer li{
  padding: 8px 0px ;
}

footer a{
  text-decoration: none;
  color: white;
  opacity: 0.7;
  font-size: 14px;
}

.bottomLine{
  background-color: #9ca1a8;
  width: 100%;
  margin: 0px;
  padding: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  display: flex;
  justify-content: center;
}

.bottomLine p{
  width: 90%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding: 10px;
  border-top: 1px solid white;
}